* {
    margin: 0;
}

body {
    font-family: 'Josefin Slab', serif;
}

/* menu base styles */

.device-indicator h3 {
  font-weight: 100;
  text-align: center;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  border-radius: 25px;
  color: #fff;
  padding: 5px 5px;
}

.desktop-view {
  background-color: dodgerblue;
  display: none;
}

.tablet-view {
  background-color: rgb(51, 150, 130);
  display: none;
}

.mobile-view {
  background-color: rgb(132, 54, 150);
  display: none;
}

.page-heading h1{
  margin: 50px;
  text-align: center;
  font-weight: 100
}

nav {
    background: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 5px;
}

li a {
  border-radius: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: #ccc;
    display: block;
    padding: 10px;
    transition: .5s;
}

nav a:hover {
    background-color: #ccc;
    color: #fff;
    transition: .5s;
}

.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.flex-container {
    background: #fff;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 150px;
    flex: 1 0 200px;
}

.box:hover {
  border: 1px dotted #262626;
  transition: 1s;
}

.one {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 15px;
}

.two {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
    margin: 15px;

}

.three {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 15px;
}

.four {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
    margin: 15px;
}

.five {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
    margin: 15px;

}

.six {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
    margin: 15px;
}

/* flex styles */

@media screen and (min-width: 769px) {
  .desktop-view {
    display: block;
  }

  nav li a{
      color: dodgerblue;
  }
}

@media screen and (max-width: 768px) {
  .tablet-view {
    display: block;
  }

    nav ul {
        display: flex;
    }

    nav li {
        //flex: 1 1 0;
    }

    nav li a{
        color: rgb(51, 150, 130);
    }
    nav li a:hover {
      background-color: rgb(51, 150, 130);
    }
}

@media screen and (max-width: 480px) {
  .mobile-view {
    display: block;
  }

  .tablet-view {
    display: none;
  }

  nav li a{
      color: rgb(132, 54, 150);
  }
  nav li a:hover {
    background-color: rgb(132, 54, 150);
  }
}
